*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {


}

body {
    box-sizing: border-box;
    background: $colour-white;
}

.bg-gray{
    background: $colour-gray;
}
.bg-gray-light{
    background: $colour-gray-light;
}

section{
    padding: 2rem 0;
}

.rounded{
    border-radius: 20px;
}

.flex {
    display: flex;
    &__justify-center{
        justify-content: center;
    }
    &__align-center{
        align-items: center;
    }
    &__column{
        flex-direction: column;
    }
    &__between{
        justify-content: space-between;
    }
}

