footer{
    padding: 1rem;
    background: $colour-gray-dark;
    color: $colour-white;
    display: flex;
    flex-direction: column;
    img{
        width: 6rem;
        padding: 1rem 0;
        filter: invert(1);
    }
    a{
        display: flex;
        align-items: center;
        color: white;

        i{
            padding-right: .6rem;
        }
    }
}