.header {
    background: $colour-white;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    @include box-shadow($colour-shadow);
    position: relative;

    &__logo {
        margin: 1rem;
        width: 50%;
    }
}